* {
    color: var(--custom-color);
}

body {
    background-color: var(--custom-color-dark);
}
.windowsbutton {
    background-color: var(--custom-color-dark);
    border-color: var(--custom-color);
    transition-duration: 0.5s;
}
.windowsbutton:focus,
.windowsbutton:hover {
    background-color: var(--custom-color-hover);;
    border-color: var(--custom-color);
    transition-duration: 0.5s;
}
.windowsbutton:active {
    background-color: var(--custom-color-dark);
    border-color: var(--custom-color);
    transition-duration: 0.5s;
}
.nav_divisor1 {
    background-color: #0000007e;
}

.navbutton {
    background-color: var(--custom-color-dark);
    border-color: var(--custom-color);
    transition-duration: 0.5s;
}
.navbutton:focus,
.navbutton:hover {
    background-color: var(--custom-color-hover);
    transition-duration: 0.5s;
}
.navbutton:active {
    background-color: var(--custom-color);
    color: var(--custom-color-dark);
    transition-duration: 0.1s;
}

textarea,
input[type=text]::placeholder {
    color: var(--custom-color);
    opacity: 0.5;
}
textarea,
input[type=text] {
    background-color: rgb(0,0,0,0);
    border-color: var(--custom-color);
    transition-duration: 0.5s;
}
textarea,
input[type=text]:hover {
    background-color: var(--custom-color-hover);
    border-color: var(--custom-color);
    transition-duration: 0.5s;
}
textarea,
input[type=text]:focus {
    background-color: var(--custom-color-hover);
    border-color: var(--custom-color);
    transition-duration: 0.5s;
}

input[type=number]::placeholder {
    color: var(--custom-color);
    opacity: 0.5;
}
input[type=number] {
    background-color: rgb(0,0,0,0);
    border-color: var(--custom-color);
    transition-duration: 0.5s;
}
input[type=number]:hover {
    background-color: var(--custom-color-hover);
    border-color: var(--custom-color);
    transition-duration: 0.5s;
}
input[type=number]:focus {
    background-color: var(--custom-color-hover);
    border-color: var(--custom-color);
    transition-duration: 0.5s;
}

.contentbox {
    background-color: var(--custom-color-content);
    border-color: var(--custom-color);
}

input[type=color] {
    background-color: var(--custom-color-dark);
    border-color: var(--custom-color);
    transition-duration: 0.5s;
}
input[type=radio]:hover,
input[type=color]:focus {
    background-color: var(--custom-color-hover);
    transition-duration: 0.5s;
}

input[type=radio] {
    background-color: var(--custom-color-dark);
    border-color: var(--custom-color);
    transition-duration: 0.5s;
}
input[type=radio]:focus,
input[type=radio]:hover {
    background-color: var(--custom-color-hover);
    transition-duration: 0.5s;
}
input[type="radio"]:checked {
    background-color: var(--custom-color);
    transition-duration: 0.1s;
}

input[type=range]:focus {
    outline-color: var(--custom-color);
}
input[type=range]::-webkit-slider-runnable-track {
    background: var(--custom-color);
    border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    border: 1px solid #000000;
    background: #ffffff;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--custom-color);
}
input[type=range]::-moz-range-track {
    background: var(--custom-color);
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    border: 1px solid #000000;
    background: #ffffff;
}
input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: var(--custom-color);
    border: 0.2px solid #010101;
}
input[type=range]::-ms-fill-upper {
    background: var(--custom-color);
    border: 0.2px solid #010101;
}
input[type=range]::-ms-thumb {
    border: 1px solid #000000;
    background: #ffffff;
}
input[type=range]:focus::-ms-fill-lower {
    background: var(--custom-color);
}
input[type=range]:focus::-ms-fill-upper {
    background: var(--custom-color);
}

input[type="checkbox"] {
    background-color: transparent;
    color: transparent;
    border: 0.15em solid var(--custom-color);
}
input[type="checkbox"]:focus,
input[type="checkbox"]:hover {
    transition-duration: 0.5s;
    background-color: var(--custom-color-hover);
}
input[type="checkbox"]:checked {
    transition-duration: 0.2s;
    background-color: var(--custom-color);
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    opacity: 1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--custom-color);
    border-radius: 1000px;
    opacity: 0.3;
    transition-duration: 0.5s;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--custom-color);
    opacity: 0.75;
    transition-duration: 0.5s;
}
::-webkit-scrollbar-corner {
    opacity: 1;
}