* {
    font-family: Segoe UI, Helvetica, sans-serif;
    user-select: none;
    font-size: 12px;
    color: #f0c0e3;
    /*! margin-bottom: 5px; */
}
img {
    user-select: none;
    image-rendering: pixelated;
}
body {
    overflow: hidden;
    background-color: rgb(14,0,14);
}
.windowsbutton {
    border-width: 1px;
    border-radius: 6px;
    background-color: rgba(0,0,0,0);
    border-color: #85448E;
    border-style: solid;
    transition-duration: 0.5s;
    padding: 10px;
    margin: 3px;
    margin-bottom: 6px;
    cursor: pointer;
}
.windowsbutton:focus,
.windowsbutton:hover {
    border-width: 1px;
    border-radius: 6px;
    background-color: #331F30;
    border-color: #EA81F9;
    border-style: solid;
    transition-duration: 0.5s;
    outline:unset;
}
.windowsbutton:active {
    border-width: 1px;
    background-color: #1f131d;
    border-color: #EA81F9;
    border-style: solid;
    transition-duration: 0.5s;
}
.navbar {
    position: absolute;
    left: 0%;
    top: 2px;
    width: 100%;
    height: 22px;
    display: flex;
}
.belownav {
    position: absolute;
    left: 0%;
    top: 22px;
    width: 100%;
    height: 100%;
    margin: 4px;
}
.nav_divisor1 {
    width: 1px;
    height: 100%;
    background-color: #85448e7e;
}
/* .nav_divisor2 {
    width: 1px;
    height: 100%;
    background-color: #FFFFFF;
} */

.navbutton {
    border-width: 1px;
    border-bottom-width: 0px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: rgb(14,0,14);
    border-color: #85448E;
    border-style: solid;
    height: 20px;
    transition-duration: 0.5s;
}
.navbutton:focus,
.navbutton:hover {
    background-color: rgb(36, 0, 36);
    transition-duration: 0.5s;
    outline-style: none;
}
.navbutton:active {
    background-color: #85448E;
    transition-duration: 0.1s;
}

textarea,
input[type=text]::placeholder {
    color: #f0c0e3;
    opacity: 0.5;
}
textarea,
input[type=text] {
    border-width: 1px;
    border-radius: 16px;
    background-color: rgb(0,0,0,0);
    border-color: #894793;
    border-style: solid;
    transition-duration: 0.5s;
    resize: none;
}
textarea,
input[type=text]:hover {
    border-width: 1px;
    border-radius: 32px;
    background-color: #421931;
    border-color: #ac457a;
    border-style: solid;
    transition-duration: 0.5s;
    resize: none;
}
textarea,
input[type=text]:focus {
    border-width: 1px;
    border-radius: 32px;
    background-color: #5a2243;
    border-color: #ac457a;
    border-style: solid;
    transition-duration: 0.5s;
    outline:unset;
    resize: none;
}

.contentbox {
    border-width: 2px;
    border-radius: 11px;
    background-color: #442342;
    border-style: solid;
    border-color: #894793;
}

input[type=color] {
    border-radius: 24px;
    background-color: #1f131d;
    border-color: #894793;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition-duration: 0.5s;
}
input[type=radio]:hover,
input[type=color]:focus {
    outline: unset;
    background-color: #5a2243;
    transition-duration: 0.5s;
}
input[type=color]::-webkit-color-swatch-wrapper {
    padding: 3px;
    border: 0;
}
input[type=color]::-webkit-color-swatch {
    border: 0;
    border-radius: 24px;
}

input[type=radio] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-style: solid;
    border-width: 1px;
    border-radius: 100%;
    background-color: #1f131d;
    border-color: #894793;
    transition-duration: 0.5s;
}
input[type=radio]:focus,
input[type=radio]:hover {
    outline: unset;
    background-color: #331F30;
    transition-duration: 0.5s;
}
input[type="radio"]:checked {
    background-color: #894793;
    transition-duration: 0.1s;
}