* {
    color: #1f161c;
}

body {
    background-color: rgb(240, 218, 240);
}
.windowsbutton {
    background-color: rgba(145, 53, 140,25%);
    border-color: #1f161c;
    transition-duration: 0.5s;
}
.windowsbutton:focus,
.windowsbutton:hover {
    background-color: rgba(145, 53, 140,35%);
    border-color: #1f161c;
    transition-duration: 0.5s;
}
.windowsbutton:active {
    background-color: rgba(145, 53, 140,50%);
    border-color: #1f161c;
    transition-duration: 0.5s;
}
.nav_divisor1 {
    background-color: #85448e7e;
}

.navbutton {
    background-color: rgba(0,0,0, 0%);
    border-color: #1f161c;
    transition-duration: 0.5s;
}
.navbutton:focus,
.navbutton:hover {
    background-color: rgba(145, 53, 140, 15%);
    transition-duration: 0.5s;
}
.navbutton:active {
    background-color: rgba(145, 53, 140, 35%);
    transition-duration: 0.1s;
}

textarea,
input[type=text]::placeholder {
    color: #1f161c;
    opacity: 0.5;
}
textarea,
input[type=text] {
    background-color: rgb(0,0,0,0);
    border-color: #1f161c;
    transition-duration: 0.5s;
}
textarea,
input[type=text]:hover {
    background-color: rgba(145, 53, 140, 0.15);
    border-color: #1f161c;
    transition-duration: 0.5s;
}
textarea,
input[type=text]:focus {
    background-color: rgba(160, 37, 144, 0.35);
    border-color: #1f161c;
    transition-duration: 0.5s;
}

input[type=number]::placeholder {
    color: #1f161c;
    opacity: 0.5;
}
input[type=number] {
    background-color: rgb(0,0,0,0);
    border-color: #1f161c;
    transition-duration: 0.5s;
}
input[type=number]:hover {
    background-color: rgba(145, 53, 140, 0.15);
    border-color: #1f161c;
    transition-duration: 0.5s;
}
input[type=number]:focus {
    background-color: rgba(160, 37, 144, 0.35);
    border-color: #1f161c;
    transition-duration: 0.5s;
}

.contentbox {
    background-color: #dfa1db;
    border-color: #1f161c;
}

input[type=color] {
    background-color: rgb(0,0,0,0);
    border-color: #1f161c;
    transition-duration: 0.5s;
}
input[type=radio]:hover,
input[type=color]:focus {
    background-color: rgba(0, 0, 0, 15%);
    transition-duration: 0.5s;
}

input[type=radio] {
    background-color: rgb(0,0,0,0);
    border-color: #1f161c;
    transition-duration: 0.5s;
}
input[type=radio]:focus,
input[type=radio]:hover {
    background-color: rgba(0, 0, 0, 15%);
    transition-duration: 0.5s;
}
input[type="radio"]:checked {
    background-color: #1f161c;
    transition-duration: 0.1s;
}

input[type=range]:focus {
    outline-color: #1f161c;
}
input[type=range]::-webkit-slider-runnable-track {
    background: #894793;
    border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    border: 1px solid #000000;
    background: #ffffff;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #894793;
}
input[type=range]::-moz-range-track {
    background: #894793;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    border: 1px solid #000000;
    background: #ffffff;
}
input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #894793;
    border: 0.2px solid #010101;
}
input[type=range]::-ms-fill-upper {
    background: #894793;
    border: 0.2px solid #010101;
}
input[type=range]::-ms-thumb {
    border: 1px solid #000000;
    background: #ffffff;
}
input[type=range]:focus::-ms-fill-lower {
    background: #894793;
}
input[type=range]:focus::-ms-fill-upper {
    background: #894793;
}

input[type="checkbox"] {
    background-color: transparent;
    color: transparent;
    border: 0.15em solid #1f161c;
}
input[type="checkbox"]:focus,
input[type="checkbox"]:hover {
    transition-duration: 0.5s;
    background-color: rgba(0, 0, 0, 15%);
}
input[type="checkbox"]:checked {
    transition-duration: 0.2s;
    background-color: #1f161c;
}